<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">login</a></li>
    <li><a href="/register">register</a></li>
    <li><a href="/torrent/list">list</a></li>
    <li><a href="/torrent/new">upload</a></li>
  </ul>
</nav>