{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block body %}
    <main>
        <h1>Under construction.</h1>
        <ul>
            <li><a href="https://1337x.to/user/johncena141/">johncena141 on 1337x</a></li>
            <li><a href="https://johncena141.eu.org:8141/johncena141/portal">the rest of the links</a></li>
        </ul>
    </main>
{% endblock %}
